html{background-color: antiquewhite;}
h1{text-decoration: underline;
text-align: center;
font-size: 40px;
}
ul li{list-style-type: square;
font-family: 'Times New Roman', Times, serif;
font-size: 22px;}
th{
    border: solid 1px
}
#logo{
text-align: center;
}